:root {
    --bittersweet-shimmer: hsla(355, 49%, 52%, 1);
    --maize: hsla(53, 98%, 65%, 1);
    --yellow-green: hsla(79, 54%, 51%, 1);
    --ghost-white: hsla(240, 100%, 99%, 1);
    --rich-black: hsla(203, 69%, 5%, 1);
    --light: #ffcc70;
    --lightest: #fffadd;
    --medium: #8ecddd;
    --darkest: #22668d;
}
