@use "../util" as *;

.node {
    width: rem(25);
    height: rem(25);
    border: rem(1) solid rgba(102, 126, 234, 0.3);
    transition: all 0.3s ease-in-out;
    background-color: rgba(102, 126, 234, 0.05);

    &-start {
        transition: all 0.5s ease-in;
        background-image: url(../assets/triangletwo-right.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        animation-name: specialNodes;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
    }

    &-finish {
        transition: all 0.5s ease-in;
        background-image: url(../assets/circle.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        animation-name: specialNodes;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
    }

    &-wall {
        border-color: rgba(28, 13, 44, 0.6);
        background-color: rgba(28, 13, 44, 0.8) !important;
        transition: all 0.5s ease-in-out;
    }

    &-path {
        animation-name: shortestPath;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }

    &-current {
        background-color: rgba(192, 132, 252, 0.8) !important;
        animation-name: currentPath;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
    }

    &-backtrack {
        background-color: rgba(239, 107, 107, 0.7) !important;
        animation-name: backtrack;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
    }
}
